<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.emos.db.dao.TbReimMapper">

    <resultMap id="BaseResultMap" type="com.example.emos.db.pojo.TbReim">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="OTHER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="anleihen" column="anleihen" jdbcType="DECIMAL"/>
            <result property="balance" column="balance" jdbcType="DECIMAL"/>
            <result property="typeId" column="type_id" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="instanceId" column="instance_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,content,
        amount,anleihen,balance,
        type_id,status,instance_id,
        create_time
    </sql>
    <select id="searchReimByPage" parameterType="hashmap" resultType="hashmap">
        SELECT r.id,
               u.id,
               u.name,
               d.dept_name AS deptName,
               r.content,
               r.amount,
               r.balance,
               r.type_id AS typeId,
               r.status,
               DATE_FORMAT(r.create_time, '%Y-%m-%d') AS createTime,
               IF(r.user_id = #{currentUserId}, true, false) AS mine
        FROM tb_reim r
        JOIN tb_user u ON r.user_id = u.id
        JOIN tb_dept d ON d.id = u.dept_id
        <where>
            <if test="deptId != null">
                u.dept_id = #{deptId}
            </if>
            <if test="typeId != null">
                AND r.type_id = #{typeId}
            </if>
            <if test="status != null">
                AND r.`status` = #{status}
            </if>
            <if test="userId != null">
                AND u.dept_id = (SELECT dept_id FROM tb_user WHERE id = #{userId})
            </if>
            <if test="name != null">
                AND u.name LIKE '%${name}%'
            </if>
            <choose>
                <when test="startDate != null and endDate == null">
                    AND r.create_time &gt;= #{startDate}
                </when>
                <when test="startDate == null and endDate != null">
                    AND r.create_time &lt;= #{endDate}
                </when>
                <when test="startDate != null and endDate != null">
                    AND r.create_time BETWEEN #{startDate} AND #{endDate}
                </when>
            </choose>
        </where>
        ORDER BY r.id
        LIMIT #{start}, #{length}
    </select>
    <select id="searchReimCount" parameterType="hashmap" resultType="long">
        SELECT COUNT(*)
        FROM tb_reim r
        JOIN tb_user u ON r.user_id = u.id
        JOIN tb_dept d ON d.id = u.dept_id
        <where>
            <if test="deptId != null">
                u.dept_id = #{deptId}
            </if>
            <if test="typeId != null">
                AND r.type_id = #{typeId}
            </if>
            <if test="status != null">
                AND r.`status` = #{status}
            </if>
            <if test="userId != null">
                AND u.dept_id = (SELECT dept_id FROM tb_user WHERE id = #{userId})
            </if>
            <if test="name != null">
                AND u.name LIKE '%${name}%'
            </if>
            <choose>
                <when test="startDate != null">
                    AND r.create_time &gt;= #{startDate}
                </when>
                <when test="endDate != null">
                    AND r.create_time &lt;= #{endDate}
                </when>
                <when test="startDate != null and endDate != null">
                    AND r.create_time BETWEEN #{startDate} AND #{endDate}
                </when>
            </choose>
        </where>
    </select>
    <select id="searchReimById" parameterType="hashmap" resultType="hashmap">
        SELECT r.instance_id AS instanceId,
               d.dept_name AS dept,
               u.`name`,
               DATE_FORMAT(r.create_time, '%Y-%m-%d') AS `date`,
               r.content,
               r.amount,
               r.balance,
               r.anleihen
        FROM tb_reim r
        JOIN tb_user u ON r.user_id = u.id
        JOIN tb_dept d ON d.id = u.dept_id
        WHERE r.id = #{reimId}
        <if test="userId!=null">
            AND r.user_id = #{userId}
        </if>
    </select>
    <update id="updateReimInstanceId" parameterType="java.util.Map">
        UPDATE tb_reim SET instance_id = #{instanceId} WHERE id = #{reimId}
    </update>
    <delete id="deleteReimById" parameterType="hashmap">
        DELETE FROM tb_reim
        WHERE id = #{reimId}
          AND user_id = #{userId}
          AND status IN(1,2)
    </delete>
</mapper>
